[submodule "submodules/owl"]
	path = submodules/owl
	url = https://github.com/owl-project/owl
[submodule "submodules/cuteeOWL"]
	path = submodules/cuteeOWL
	url = https://github.com/owl-project/cuteeOWL
